doctype html
html
	head
		title Monumento
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="assets/css/main.css")
	body
		.container-home(style="overflow: auto;")
			section.home
				.bg
					.content
						img(src="assets/img/hello-logo-text.svg")
						h2 
							span Welcome.
						h1 Caring for you make us happy.
			section.aha
				.bg
					.content
						h2 
							span The Aha! Moment
						p We knew we were doing things well, but there was one question that remained in the back of our heads:
				
			section.how
				.bg
					.content
						h2 How could we go the extra mile?
						.rigth
							h3
								span Learn more about our big moment.
							img(src="assets/img/flecha.svg")
								
			section.nice
				.bg
					.content
						h3 
							span Nice to meet you!
						.rigth
							h5 Let’s get familiar.
							h2.uno This is how we do it. 
							h2.dos
								span This is what we intend to do.  
							h2.tres This is what we stand for.
							
			section.do
				.bg
					.content
						h2 Hello Management provides a multidisciplinary service that covers every stage of the process of bringing a building to life.
						.rigth
							h2
								span Ok, so what do we really do?
			section.started
				.bg
					.content
						h3 And who started <br>Hello Management?
						.rigth
							h2 Meet the brains behind it all.
							img(src="assets/img/flecha-azul.svg")
			section.bel
				.bg
					.content
						.top
							.left
								h2 We believe in making the world a better place, service for service.
							.right
								h3
									span Hello Cares.
						.bottom
							.left
								h3 
									span Ask us a question or just say hello!
							.right
								h2 How can we help you? 
			footer
				.content
					img(src="assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							

		script(src="assets/js/jquery-2.1.4.min.js")
		script(src="assets/js/function.js" type="text/javascript")
