doctype html
html
	head
		title Hello Management
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="assets/css/main.css")
	body
		.container-home
			include _imports/_menu.pug
			section.home
				.bg.box3
					.content
						img(src="assets/img/hello-logo-text.svg")
						h2 
							span Welcome.
						h1 Caring for you makes us happy.
			section.aha
				.bg
					.content
						h2 
							span 
								a(href="/page/aha.html") The Aha! Moment
						p.small We knew we were doing things well, but there was one question that remained in the back of our heads:
				
			section.how
				.bg
					.content
						a(href="/page/aha.html")
							h2 How could we go the extra mile?
						.rigth
							h3
								a(href="/page/aha.html")
									span Learn more about our big moment.
							a(href="/page/aha.html")
								img(src="assets/img/flecha.svg")
								
			section.nice
				.bg
					.content
						a(href="/page/nice.html")
							h3
								span Nice to meet you!
						.rigth
							h5 Let’s get familiar.
							a(href="/page/nice.html#how")
								h2.uno This is how we do it. 
							h2.dos
								a(href="/page/nice.html#then")
									span This is what we intend to do.
							a(href="/page/nice.html#this")  
								h2.tres This is what we stand for.
							
			section.do
				.bg
					.content
						h2
							span <a href="/page/process.html">Ok, so what do we really do?</a> 
						.rigth
							h2 Hello Management provides a multidisciplinary service that covers every stage of the process of bringing a building to life. 
								
			section.started
				.bg
					.content
						h3 Who started <br>Hello Management?
						.rigth
							h2.large Meet the brains behind it all.
							a(href="#")
								img(src="assets/img/flecha-azul.svg")
			section.bel
				.bg
					.content
						.top
							.left
								h2 We believe in making the world a better place, service for service.
							.right
								h3
									a(href="/page/care.html" style="color: #00556F;")
										span Hello Cares.
						.bottom
							.left
								h3 
									span How can we help you? 
							.right
			footer
				.content
					img(src="assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							

		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
