.menu-desk
	z-index: 1
	width: 230px
	position: fixed
	top: 20px
	display: block
	text-align: left
	height: auto
	.menu
		display: block
		top: 150px
		margin: 30px 0 0 60px
	img
		cursor: pointer
		display: block
		width: 20px
		height: 20px
	a
		box-sizing: border-box
		text-align: left
		letter-spacing: 3px
		font-weight: lighter

	.text
		display: block
		margin: 90px 60px
		overflow: auto
		font-size: .9em !important

		a
			color: white
			box-sizing: border-box
			line-height: 1px !important
			letter-spacing: 3px
			font-weight: lighter
.cel
	position: fixed
	top: 0
	background: white
	height: 75px
	width: 100%
	z-index: 2
	.iconos
		position: relative
		top: 23px
		height: 100%
		display: flex
		padding: 0 25px
		flex-direction: row
		justify-content: space-between
		.left
			.c
				display: block
			.xx
				display: none
		img
			cursor: pointer
			width: 35px

.overlay
	z-index: 1
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0, 0.5)
	animation: op 1s ease forwards

	.menubox
		display: none
		position: absolute
		bottom: 100%
		left: 0
		background: url(../img/bg-menu.svg)
		background-position: left
		background-size: cover
		width: 30%
		height: 100vh
		animation: menu 1s ease forwards


		.container
			position: relative
			top: 50%
			transform: translateY(-50%)
			max-width: 300px
			margin: 0 auto
			img
				cursor: pointer
				margin-bottom: 50px
				display: block
				width: 20px
				height: 20px
			.links
				margin: 80px 0
				a
					font-weight: lighter
					letter-spacing: 2px
					font-size: 1.8em
					margin: 20px 0
					border-bottom: solid 1px white
					display: block
					opacity: .6
					transition: opacity ease .8s
					&:hover
						opacity: 1

	.say
		z-index: 100
		display: none
		position: absolute
		left: 0
		bottom: 100%
		background: url(../img/say.svg)
		background-position: left
		background-size: cover
		width: 30%
		height: 100vh
		animation: menu 1s ease forwards

		.container
			position: relative
			top: 50%
			transform: translateY(-50%)
			max-width: 300px
			margin: 0 auto
			.text
				color: #00556f
				.info
					font-weight: bolder
					margin-top: 80px
					font-size: .8em
					letter-spacing: 2px
					color: #00556f !important
					a
						padding: 0
						margin: 0
						color: #00556f !important
					p
						padding: 0
						margin: 0
						color: #00556f

				h3
					margin-top: 80px
					letter-spacing: 2px
					color: #00556f
					font-size: 2em
				h2
					letter-spacing: 2px
					font-size: 2.5em
					margin-top: 50px
					margin-left: 120px

			img
				cursor: pointer
				margin-bottom: 50px
				display: block
				width: 20px
				height: 20px

	.how
		display: none

	.login
		display: none
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		background: #00556f
		max-width: 500px
		animation: opa 1s ease forwards

		.container
			padding: 50px
			text-align: left
			position: relative
			.text
				font-weight: lighter
				text-align: center
				letter-spacing: 2px
				color: white !important
				h2
					border-bottom: solid 1px white
					margin-bottom: 20px
					font-size: 3.5em
				p
					text-align: 1em !important
					color: white !important
					padding-bottom: 20px

				hr
					border: solid .5px white

				form
					float: left
				a
					padding: 0
					margin: 0
		img
			cursor: pointer
			margin-bottom: 50px
			display: inline-block
			width: 20px
			height: 20px
			position: absolute
			right: 10px
			box-sizing: border-box
			top: 10px

@media(max-width: 1000px)
	.menu-desk
		.menu
			margin-left: 30px !important
		.text
			margin-left: 30px !important
		.cel
	.overlay
		.menubox
			width: 50% !important
@media(min-width: 900px)
	.cel
		display: none

@media(max-width: 900px)
	.menu-desk
		display: none
	.cel
		display: block
	.overlay
		.x
			opacity: 0
		.menubox, .say
			height: calc(100vh - 75px)
			transition: all 1s ease !important
			width: 50% !important
	.text
		font-size: 1.8em
		margin-bottom: 20px
@media(max-width: 640px)
	.menu-desk
	.cel
	.overlay
		.menubox, .say
			width: 100% !important
		.say
			.container
				.text
					color: #00556f
					.info
						font-weight: bolder
						margin-top: 30px
						font-size: .8em
						letter-spacing: 2px
						color: #00556f !important
						a
							padding: 0
							margin: 0
							color: #00556f !important
						p
							padding: 0
							margin: 0
							color: #00556f

					h3
						margin-top: 30px
						letter-spacing: 2px
						color: #00556f
						font-size: 2em
					h2
						letter-spacing: 2px
						font-size: 2.5em
						margin-top: 20px
						margin-left: 120px

				img
					cursor: pointer
					margin-bottom: 50px
					margin-top: -40px
					display: block
					width: 20px
					height: 20px

@keyframes menu
	0%
		bottom: 100%
	100%
		bottom: 0%

@keyframes op
	0%
		background: rgba(0,0,0, 0)
	100%
		background: rgba(0,0,0, 0.5)
@keyframes opa
	0%
		opacity: 0
	100%
		opacity: 1
