footer
	.content
		img(src="/assets/img/logo-footer.svg")
		.text
			a.sayy Say Hello. <br>
			a(href="/page/help.html") How can we help you?<br>
			a.loginn Our Guests
		p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
		.right
			p Terminos & Condiciones
			p Politicas De Privacidad
				
