.menu-desk
	img(src="/assets/img/ham-home.svg" alt="Botón menú").menu.menuclick
	a(href="/")
		img(src="/assets/img/face.svg" alt="Hello logo").menu
	.text
		a#say Say Hello. <br><br>
		a(href="/page/help.html") How can we help you?
	a(href="https://www.facebook.com/hellomanagement/" target="_blank")
		img(src="/assets/img/facebook.svg" alt="facebook logo").menu
	a(href="https://twitter.com/ManagementHello?lang=es" target="_blank")
		img(src="/assets/img/twitter.svg" alt="twitter logo").menu
	a(href="#" target="_blank")
		img(src="/assets/img/linkedin.svg" alt="linkedin logo").menu
.cel
	.iconos
		.left
			a
				img(src="/assets/img/ham-home-blue.svg" alt="Botón menú").menucel.menuclick
		.right
			a(href="/")
				img(src="/assets/img/face-blue.svg" alt="Hello logo").menucel
.
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/56b0d938fe87529955d7c0ef/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
.overlay
	.menubox
		.container
			img(src="/assets/img/x.svg").x
			a(href="/")
				img(src="/assets/img/face.svg")
			.links
				a(href="/") Welcome.
				a(href="/page/aha.html") The Aha! Moment.
				a(href="/page/nice.html") Nice to meet you.
				a(href="/page/process.html") What we really do.
				a(href="#") Who started Hello.
				a(href="/page/care.html") Hello Cares.
			.terms
				a Terminos & Condiciones
				br
				a Politicas De Privacidad
			
	.say
		.container
			img(src="/assets/img/x-blue.svg").x
			a(href="/")
				img(src="/assets/img/face-blue.svg")
			.text
				h3 Say Hello
				.we
					h2 We’d love to hear from you!
				.info
					a(href="mailto:say@hello-management.com") say@hello-management.com
					p +52 81 1477 8080
					p José Clemente Orozco 329,  P. 31. 
					p Torre Helicon, Valle Oriente 66269
					p San Pedro G.G, Nuevo León, México
			
	.how
		.container
			img(src="/assets/img/x.svg")#x
			img(src="/assets/img/face.svg")
			.links
				a Welcome.
				a The Aha! Moment.
				a Nice to meet you.
				a What we really do.
				a Who started Hello.
				a Hello Cares.
			.terms
				a Terminos & Condiciones
				br
				a Politicas De Privacidad
			
