doctype html
html
	head
		title Hello Management | The aha moment.
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="/assets/css/main.css")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Hello Management | The aha moment.")
		meta(property="og:description" content="Caring for you makes us happy.")
		meta(property="og:image" content="/assets/img/og-facebook.jpg")
	body
		.container-home
			include ../_imports/_menu.pug
			section.page-aha
				.bg.box3
					.content
						img(src="/assets/img/hello-logo-text.svg")
						h2 
							span The Aha! Moment.
						p Our beginning was simple.
			section.we
				.bg
					.content
						h2 We had been in the real estate industry for over a decade and so far, we were doing great.
						p For years now, we had provided high-quality experiences for people, while at the same time building innovative, modern and functional products. Our customers were happy. And so were we.	
			
			section.however
				a(name="extra")
				.bg
					.content
						p.top However, for some time now we had been feeling restless. We knew we were doing things well, but there was one question that remained in the back of our heads.
						h2 How could we go the extra mile? 
						p.bottom We had been thinking about it really hard, but we hadn’t come up with anything. Until one day, we received a very lucky wake-up call.
						
			section.one
				.bg
					.content
						.text
							p.top One of our customers called to confess his concerns about the way the building he lived at was being managed. We listened intently. And as we listened, our jaws dropped and our heartbeats quickened, for we had finally figured it out. After thinking about it for months, there was our answer, and it had been right in front of us all along.
						h2 That was it. <br>That was our Aha! Moment.
						
			section.that
				.bg
					.content
						p.top That was the moment we realized how we could go the extra mile: by providing the service of making people happier.
						p.left So from that day on, we decided we would make it our personal goal to do just that, and how would we do it? 
						p.right By bringing properties to life, giving them values and a purpose; by giving people a sense of being at home from the moment they opened their eyes in the morning, to the moment they closed them at night; by giving people a reason to love their jobs, from the second they entered their workplace to when they left to go back to their families.
			section.and
				.bg
					.content
						h2 And thus, Hello Management was born. We like to think of ourselves as the friend who’s always glad you’re coming over, glad to make you feel at home.
						
			footer
				.content
					img(src="/assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
