doctype html
html
	head
		title Hello Management
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="/assets/css/main.css")
	body
		.container-care
			include ../_imports/_menu.pug
			section.page-nice
				.bg.box3
					.content
						img(src="/assets/img/hello-logo-text.svg")
						h2 
							span Hello Cares
						p Service for service.
						
			section.properties
				.bg
					.content
						.left
							h2 We believe in making the world a better place, that’s why we’ve created Hello Cares, our own foundation that focuses on teaching vulnerable communities useful abilities for enhancing everyday life. 
						.right
							p Thus, we promote their economic independence while at the same time sharing our Hello Management principles and values. <br><br> If you would like to know more about the community or organization we’re helping right now, please click <a href="#">here.</a>
																		
			footer
				.content
					img(src="/assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
