doctype html
html
	head
		title Hello Management
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="/assets/css/main.css")
	body
		.container-join
			include ../_imports/_menu.pug
			section.join
				.bg.box3
					.content
						img(src="/assets/img/hello-logo-text.svg")
						.left
							h2 
								span How can we help you?
						.right
							p Looking for someone to turn your building into a happier environment? 
							p Looking for a happy place to live or work?
							p.chico For more information send an email to <a href="mailto:say@hello-management.com">say@hello-management.com</a>
										
			footer
				.content
					img(src="/assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
