doctype html
html
	head
		title Monumento
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="/assets/css/main.css")
	body
		.container-join
			include ../_imports/_menu.pug
			section.join
				.bg.box3
					.content
						img(src="/assets/img/hello-logo-text.svg")
						.left
							h2 
								span Want to Join the Team?
						.right
							p If you’d like to be part of the change, please don’t hesitate to give us a call! We’d like to know more about you and your ideas on how to make our world a better place.
							p.chico To know more about our culture, please <span>Download this brochure</span>
										
			footer
				.content
					img(src="/assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
