doctype html
html
	head
		title Hello Management
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="/assets/css/main.css")
	body
		.container-nice
			include ../_imports/_menu.pug
			section.page-nice
				.bg.box3
					.content
						img(src="/assets/img/hello-logo-text.svg")
						h2 
							span Nice to meet you.
						p Let’s get familiar.
						
			section.nice
				a(name="how")
				.bg
					.content
						h2 This is how we do it.
						p First, we think about your life: waking up early, taking the kids to school, having lunch meetings, picking up the laundry, celebrating anniversaries, going for a walk; you name it.
						
			section.and
				.bg
					.content
						h2 And then we ask ourselves ‘How can we make it all better for you?’ 
						p And from that simple question, we create unique experiences focused on making you happier, caring for you and the ones you love and building communities you can proudly feel a part of, all in the comfort of your home or workplace.
			section.what
				a(name="then")
				.bg
					.content
						h2 This is what we intend to do
						p Our goal is simple: to improve your quality of life in aspects you never thought of, and to be the best at it. From the enthusiastic smile waving you goodbye when you leave for work, to the fresh smell coming out of who-knows-where when you enter your office, 
			section.hello
				.bg
					.content
						h2 Hello Management wants to turn the simple things into great moments.
						
			section.stand
				a(name="this")
				.bg
					.content
						.top
							.left
								h2 This is what we stand for
							.right
								h3
									a.happinesst Happiness — 
									a.innovationt Innovation — 
									a.caringt Caring — 
									a.overt Over manage  — 
									a.tracendencet Transcendence.
						.bottom
							.happiness
								.left
									h3 
										span There is no bigger goal than that of leading a happy life, we’ll help you build it for yourself.
								.right
									h2 Happiness		
							.innovation
								.left
									h3 
										span We revolutionize the real estate industry by placing your quality of life as our top priority.
								.right
									h2 Innovation	
							.caring
								.left
									h3 
										span  We’ll do our best to make you feel like someone’s got your back all day, everyday.
								.right
									h2 Caring
							.over
								.left
									h3 
										span We go the extra mile and we don’t stop there. We pay close attention to details and we embrace them.
								.right
									h2 Over Manage
							.tracendence
								.left
									h3 
										span We make sure to positively impact different aspects of your life both in the short and long run.
								.right
									h2 Transcendence.
							
									
			footer
				.content
					img(src="/assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
