doctype html
html
	head
		title Hello Management | What we do
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="/assets/css/main.css")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Hello Management | What we do")
		meta(property="og:description" content="Caring for you makes us happy.")
		meta(property="og:image" content="/assets/img/og-facebook.jpg")
	body
		.container-process
			include ../_imports/_menu.pug
			section.page-nice
				.bg.box3
					.content
						img(src="/assets/img/hello-logo-text.svg")
						h2 
							span Ok, so what do we really do?
						p The Process
						
			section.properties
				.bg
					.content
						h2 We manage properties. What does that mean, you ask? We are the ones that make the place you live or work at, clean, functional and, most importantly, a happy place.
						p We do this through a series of services that focus on the little details that make a person’s everyday life, better. <br>Want to hear the best part? Hello Management provides a multidisciplinary service that covers every stage of the process of bringing a project to life.
						
						
			section.this
				.bg
					.content
						.top
							.left
								h2 This is how it works
						.bottom
							.uno
								p 
									a(href="#planning")
										span Planning Stage.
							.dos
								p 
									a(href="#pre")
										span Pre-Operative Stage.
							.tres
								p 
									a(href="#operative")
										span Operative Stage.
			section.planning#planning
				.bg
					.content
						.top
							.left
								h2 Planning Stage.

								h2
									span Advisory
							.right
								h2 Ok so you’ve decided to develop a property for people to live or work at. There are so many details to cover, but don’t worry, through our advisory, we’ll walk you through all aspects involved.
						.bottom
							p Where should the maintenance infrastructure be at? What should the management office have? Have you checked the pipelines? How many elevators should the building have? How should logistics work? Gas or electric?
								
			section.pre#pre
				.bg
					.content
						.top
							.left
								h2 Pre-<br>Operative Stage
								h2
									span Eagle-Eye Support
							.right
								h2 This stage is just as crucial as the first. You’re getting closer to the real thing, so you have to be extra careful. We double check everything for you and helps you out with important elements:
						.bottom
							p Condominium Regime. Operating Regulations. Construction Regulations.  Hiring of personnel. Operating budget. <br>Establish maintenance fee for tenants. Construction details of every room in your building.
		
			section.operative#operative
				.bg
					.content
						.top
							.left
								h2 Operative Stage
								h2
									span Caring for your customers.
							.right
								h2 You’re ready! People are buying your beautiful, carefully built spaces and they’re ready to make a life in them. Hello Management will make their stay a pleasant experience through:
						.bottom
							p Personalized welcome according to their needs. Full-time quality cleaning, security and administrative service. Networking events, Fun Days: Ice Cream Day, Pijama Day. Personalized software for your properties, thus creating tailor-made experiences for everyone.
											
			section.much
				.bg
					.content
						h2 And much more. The best part is, it doesn’t matter what stage you’re in, you can call us any time, and we’ll take it from there.
														
			footer
				.content
					img(src="/assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
