doctype html
html
	head
		title Monumento
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="/assets/css/main.css")
	body
		.container-us
			include ../_imports/_menu.pug
			section.started
				.bg.box3
					.content
						img(src="/assets/img/hello-logo-text.svg")
						h2 
							span And who started <br>Hello Management?

						p Meet the brains behind it all.
										
			footer
				.content
					img(src="/assets/img/logo-footer.svg")
					p © 2017 Hello Management, Inc <br> Hello Management es una marca registrada todos los derechos reservados.
					.right
						p Terminos & Condiciones
						p Politicas De Privacidad
							
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js" type="text/javascript")
